---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
  Enabled: true
AllowShortFunctionsOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
PenaltyReturnTypeOnItsOwnLine: 1000
